<p id="notice"><%= notice %></p>

<h1>Мои задачи</h1>

<table>
  <thead>
    <tr>
      <th>Задача</th>
      <th>Выполнено</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pending_items.each do |item| %>
      <tr>
        <td><h6><%= item.title %></h6></td>
        <td><%= link_to 'Выполнить', complete_item_path(item), method: :post, class: 'btn red darken-4' %></td>
        <td><%= link_to 'SHOW', item, class: 'btn deep-purple'%></td>
        <td><%= link_to 'EDIT', edit_item_path(item), class: 'btn green accent-4' %></td>
      </tr>
    <% end %>

    <% @completed_items.each do |item| %>
    <tr>
      <td><%= item.title %></td>
      <td><%= item.completed_at.strftime('%d.%m.%Y в %H:%M') %></td>
      <td><%= link_to 'SHOW', item, class: 'btn deep-purple' %></td>
      <td><%= link_to 'EDIT', edit_item_path(item), class: 'btn green accent-4' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая задача', new_item_path, class: 'btn right' %>
